$def with (header, footer)
$:header	
	<div class = "entry-box">
		<div class = 'entry'>
			<h1 style="text-align:center">Jackson's Address Book!</h1>
			<p>This is the address book of Jackson Dockery. It is really just a project to build a program in python, render the html and css with web.py and use PostgresQl as a database to create, retrieve, update and delete the data. Feel free to test it out and enter your information. (the information on here does not contain real phone or email informaion)</p><br/>
			

		</div>
	</div>
	
$:footer